@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.projects-section {
  background-color: #152730;
  padding: 80px 40px;
  color: #eaeaea;
  font-family: 'Montserrat', sans-serif;
}

.projects-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #f4f4f4;
  font-family: 'Montserrat', cursive;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
