/* App.css */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #102143; /* full blue background */
  scroll-padding-top: 70px; /* Adjust to match your topbar height */
  scroll-behavior: smooth;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #102143; /* full blue background */
}

#about,
#projects,
#work,
#skills,
#connect {
  scroll-margin-top: 200px;
}
